@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/**
 *
 * PROFILE HEADER
 *
 */

 .defaultProfileHeader {
	text-align: center;
  }
  
  .name {
	font-family: 'Ubuntu', sans-serif;
	font-size: 23px;
	color: #161616;
	padding-bottom: 13px;
	padding-top: 10px;
  }
  
  .compactProfileHeader {
	text-align: left;
	display: -webkit-inline-box;
	width: 375px;
	padding-bottom: 20px;
  }
  
  .compactContainer {}
  
  .compactName {
	margin-left: 10px;
	font-size: 19px;
	margin-top: 4px;
  }
  
  .verticalDiv {
	width: 1px;
	height: 72px;
	
	margin-left: 8px;
	margin-right: 8px;
	
	margin-top: auto;
	margin-bottom: auto;
	
	background: black;
  }
  
  .headerSubtext {
	margin-left: 10px;
	font-size: 12px;
	margin-bottom: 0;
  }
  
  .compactLink {
	padding-left: 10px;
  }
  
  .compactLinkIcon {
	max-width: 18px;
	color: black;
  }

  .image {
	border-radius: 45px;
  }
  
@media (max-width: 400px) {
	.compactProfileHeader {
		width: 325px;
	}
}
  