@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 20vh;
}

.linkButton {
  width: 375px;
  background-color: #161616 !important;
  font-weight: 300 !important;
  font-family: 'Ubuntu', sans-serif !important;
  border-color: #161616 !important; 
  color:white !important;
}

@media (max-width: 400px) {
  .linkButton {
    width: 95vw;
  }

  .container {
    padding-top: 10vh;
  }
}