@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 20vh;
}

/**
 *
 * PROFILE HEADER
 *
 */

 .defaultProfileHeader {
  text-align: center;
}

.name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  color: #161616;
  padding-bottom: 13px;
  padding-top: 10px;
}



.compactProfileHeader {
  text-align: left;
  display: -webkit-inline-box;
  width: 375px;
  padding-bottom: 20px;
}

.compactContainer {}

.compactName {
  margin-left: 10px;
  font-size: 19px;
  margin-top: 4px;
}

.verticalDiv {
  width: 1px;
  height: 72px;
  
  margin-left: 8px;
  margin-right: 8px;
  
  margin-top: auto;
  margin-bottom: auto;
  
  background: black;
}

.description {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 18px;
  text-align: center;
  font-size: 17px;
  color: #553320;
}

/**
 *
 * BODY CONTENT
 *
 */

.linkButton {
  width: 375px;
  background-color: #161616 !important;
  font-weight: 300 !important;
  font-family: 'Ubuntu', sans-serif !important;
  border-color: #161616 !important; 
  color:white !important;
}

.image {
  border-radius: 45px;
}

@media (max-width: 400px) {
  .linkButton {
    width: 95vw;
  }

  .container {
    padding-top: 10vh;
  }
}