@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  color: black;
  padding-bottom: 8px;
  padding-top: 10px;
}

.description {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 18px;
  text-align: center;
  font-size: 17px;
  color: #553320;
}

.linkButton {
  width: 375px;
  background-color: white !important;
  font-family: 'Ubuntu', sans-serif !important;
  border-color: black !important; 
  color:black !important;
}

.image {
  border-radius: 45px;
}

@media (max-width: 600px) {
  .linkButton {
    width: 95vw;
  }
}
