.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2EFE4;
}

.linkButton {
}

.image {
  border-radius: 45px;
}

@media (max-width: 600px) {
}
