@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2EFE4;
}

.linkButton {
  width: 95vw;
  background-color: white !important;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  border-color: black; 
  color:black;
}

.image {
  border-radius: 45px;
}

@media (max-width: 600px) {
}
